
#header{
  margin: auto;
  text-align: center;
  justify-content: center
}

#logo1{
  width: 50%;
  height: 40%;
}
#menu
	{
	width: 100%;
	margin-top: 50px; 
	padding: 10px;
	display: flex;
	list-style-type: none;
	justify-content: center;
	align-items: center;
  font-family: 'Raleway', sans-serif;
	}
	.menu-list {
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
  font-family: 'Raleway', sans-serif;

	}
	.menu-list * {
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
  font-family: 'Raleway', sans-serif;

	}
	.menu-list li {
	display: inline-block;
	list-style: outside none none;
	margin: 0 1.5em;
	overflow: hidden;
  font-family: 'Raleway', sans-serif;

	}
	.menu-list a {
	padding: 0.3em 0;
	color: #000000;
  font-size: 25px;
	position: relative;
	display: inline-block;
	letter-spacing: 1px;
	margin: 0;
	text-decoration: none;
  font-family: 'Raleway';

	}
	.menu-list a:before,
	.menu-list a:after {
	position: absolute;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
  font-family: 'Raleway', sans-serif;

	}
	.menu-list a:before {
	bottom: 100%;
	display: block;
	height: 3px;
	width: 100%;
	content: "";
	background-color: #da216f;
  font-family: 'Raleway', sans-serif;

	}
	.menu-list a:after {
	padding: 0.3em 0;
	position: absolute;
	bottom: 100%;
	left: 0;
	content: attr(data-hover);
	color: #212121;
	white-space: nowrap;
  font-family: 'Raleway', sans-serif;

	}
	.menu-list li:hover a,
	.menu-list .current a {
	transform: translateY(100%);
  font-family: 'Raleway', sans-serif;

	}

	
	li {
	float:left;
  font-family: 'Raleway', sans-serif;

	}
	
	a {
	display: block;
	padding: 8px;
  font-family: 'Raleway', sans-serif;

	}
	section {
	text-align: center;
	}


  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #cb0152;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 250px;
    height: 70px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'Raleway', sans-serif;

  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: 'Raleway', sans-serif;

  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    font-family: 'Raleway', sans-serif;

  }
  
  .button:hover span {
    padding-right: 25px;
    font-family: 'Raleway', sans-serif;

  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
    font-family: 'Raleway', sans-serif;

  }
#welcome{
  justify-content: center;
  display: flex;

}
.logo {
  text-align: center;
  background-size: contain;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 100px;
}
.logo img {
  width: 50%;
}
body
{
    background:#ffe3f8;
    font-family: 'Raleway', sans-serif;

}
section.section
{

    text-align: center;
}

#content{
  background-color: #ffe3f8;
  text-align: center;
  height: max-content;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  flex-flow: row;
  justify-content :center;
  font-size: 100%;
}

#footer{
  text-align: center;
  background-color:#ffe3f8;
  padding:10px 10px 10px 10px;
  font-size:15px;
  color:#737373;
  bottom: 10px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
}



#gameboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


  /*register form*/
  form, p {
    margin: 20px;
  }
  
  p.note {
    font-size: 1rem;
    color: red;
  }
  
  #lifeStatus img {
    display: inline-block;
    width: 20px;
    height: 20px;
}
  input, textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 4px;
    font-family: 'Lato';
    width: 80px;
    margin-top: 10px;
  }
  
  label {
    width: 300px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
  }
  
  label span {
    font-size: 1rem;
  }
  
  label.error {
      color: red;
      font-size: 1rem;
      display: block;
      margin-top: 5px;
  }
  
  input.error, textarea.error {
      border: 1px dashed red;
      font-weight: 300;
      color: red;
  }
  

  #imgSettings
  {
    width: 25px;
    height: 25px;
  }
  #navitamarImg
  {

    height: 500px;
  }

  #settings{
    padding-top: 120px;
    font-size: 25px;
    color:black;
    padding-top: 5%;
  }
  .settingLabel{
    text-align: center;
  }
  .settingInput{
    margin-left: 725px;
    text-align: center; 
    font-weight: bold;
		font-size: 20px;
		margin: 10px;
  }



#keysDiv{
    width: inherit;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: row;
}

#keysSet{
    margin: 2px auto;
    padding-left: 0;
    list-style: none;}

li{
  display: inline-block;
    margin: 0;
    padding: 0;
}

.gameBtn{

	border-radius: 0;
	font-size: 25px;
  text-align: center;
  height:50px;
  width:50px;
  cursor:pointer;
  padding: 4px 5px;
}


/* about modal*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-family: 'Raleway', sans-serif;

}

/* Modal Content */
.dialogContent {
  position: relative;
  background-color: #fcebf8;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-family: 'Raleway', sans-serif;

}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.closeDialog {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeDialog:hover {
    background-color: #000;
    text-decoration: none;
    cursor: pointer;
}
.dialogTitle {
  padding: 2px 16px;
  color: rgb(0, 0, 0);
}

.dialogBody
 {padding: 2px 16px;}


 #footer{
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
 }

 .dialogContentYay {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;
  width: 60%;
  animation-name: stretch;
  animation-duration: 0.4s;
  animation-timing-function: ease-out; 


}
@keyframes stretch {
  0% {
    transform: scale(.3);

    border-radius: 100%;
  }
  50% {

  }
  100% {
    transform: scale(1.5);
  }
}
#yayImage
 {
   width: 30%;
   height: 30%;
 }